*
!themes
!automation
!scenes
!images
!python_scripts
!*.png
!*.yaml
!.gitignore
!README.md
secrets.yaml
known_devices.yaml
entity_registry.yaml
automation/State-cube-sensor-01.yaml
automation/testing.yaml
